<!-- about us -->
<section class="about-us">
    <div class="about-us-content">
        <h1 class="about-us-heading">&Uuml;ber uns</h1>
        <div class="underline">
            <div class="small-underline"></div>
            <div class="big-underline"></div>
            <h3 class="sub-heading">RMeier Freelance Nachhilfe</h3>
            <p class="about-us-paragraph">Wir machen f&uuml;r Studenten, Auszubildende / Berufsschüler, Gymnasiasten
                Nachhilfe. Die Bereiche sind Mathematik, Elektrotechnik, IT-Systeme und Java Programmierung. Und wir
                geben Nachhilfe mit <i class="fas fa-heart"></i>.</p>
            <p class="about-us-paragraph">Wir erstellen individuelle Materialien f&uuml;r unsere Nachhilfenehmer. Wir
                bereiten jede Nachhilfestunde vor. Wir erstellen Aufgaben zum kunden-gew&uuml;nschten Bereich. Unsere
                Preise richten sich nach Absprache, dennoch unterschreiten diese nicht den gesetzlichen Mindestlohn. Wir
                geben Nachhilfe g&uuml;nstiger, weil Nachhilfe für jeden Geldbeutel erschwinglich sein soll.
                Beispielsweise zahlen Sie bei Programmiernachhilfe 35 EUR bis 70 EUR die Stunde. Wir nehmen maximal 35
                EUR und minimal 25 EUR bei Programmierung. Bei Elektrotechnik ist es mindestens der gesetzliche
                Mindestlohn und maximal 25 EUR. Alle geschieht immer auf Rechnung, welche ohne Umsatzsteuer ist, weil
                dies eine Kleinstunternehmung neben einer Festanstellung ist. Ebenfalls wird die Nachhilfe als
                hobbymäßig gelebt.</p>
            <p class="about-us-paragraph">Wir nehmen maximal 2 Kunden an und geben insgesamt pro Woche maximal 10
                Stunden Nachhilfe. Hiermit ist gew&auml;hrleistet unsere Nachilfenehmer bekommen die nötige
                Unterst&uuml;tzung und Klausurvorbereitung. Deshalb gibt es ein Nottelefon rein f&uuml;r die Kunden.</p>
            <p class="about-us-paragraph">Wir unterst&uuml;tzen bei Ausbilungs-Abschlussprojekten / IHK-Projekten sowie
                Bachelorthesen. Wir verstehen uns hierbei nicht als wissenschaftliche Schreiber, sondern als Helfer und
                Erkl&auml;rer, denn eine Abschlussarbeit sollte immer die eigene Leistung des Absolventen sein. Und
                lehnen "Ghostwriting" ab.</p>
            <p class="about-us-paragraph">Registrierende Nachhilfenehmer bekommen Zugriff auf digitale Materialien,
                digitale Termin-Vereinbarung und kaufbare Materialien.</p>
            <p class="about-us-paragraph">Am Ende einer Nachhilfe sollte die Arbeit / Klausur bestanden sein.</p>
            <button class="about-us-btn">
                Mehr
                <i class="fas fa-angle-double-right btn-arrow"></i>
            </button>
        </div>
    </div>

    <div class="about-us-images">
        <img src="" class="image image-1" alt="">
        <img src="" class="image image-2" alt="">
        <img src="" class="image image-3" alt="">
        <img src="" class="image image-4" alt="">
    </div>
</section>
<!-- end of about us-->