<!-- education building -->
<section class="about-us">
    <div class="about-us-content">
        <h1 class="about-us-heading">Bildungseinrichtungen</h1>
        <div class="underline">
            <div class="small-underline"></div>
            <div class="big-underline"></div>
            <p class="about-us-paragraph">Wir erweitern unsere Liste der Bildungseinrichtungen st&auml;ndig mit neuen
                Kunden.</p>
            <div class="educational-establishment-wrapper">
                <div class="educational-establishment-tile">HAW Hamburg</div>
                <div class="educational-establishment-tile">FOM Hamburg</div>
                <div class="educational-establishment-tile">FH L&uuml;beck</div>
                <div class="educational-establishment-tile">FH Kiel / Kiel University of Applied Sciences</div>
                <div class="educational-establishment-tile">Hochschule Bochum / Bochum University of Applied Sciences
                </div>
                <div class="educational-establishment-tile">BS Elsmhorn</div>
                <div class="educational-establishment-tile">Universit&auml;t M&uuml;nchen</div>
                <div class="educational-establishment-tile">HSW / Hochschule Weserbergland</div>
                <div class="educational-establishment-tile educational-establishment-tile--end">BS 14
                    Hamburg-Wilhemsburg</div>
                <div class="educational-establishment-tile educational-establishment-tile--end">Berufliche Schule
                    Energietechnik Altona - BEA</div>
            </div>
        </div>
    </div>
</section>
<!-- end of education building -->