<div class="main-content margin--left-8rem">
    <div class="forbidden-card">
        <div class="forbidden-box">
            <h2 class="text-align-center">Forbidden</h2>
            <div class="forbidden-box-text text-align-center">
                <h5>You wanted to visit a page that is restricted. You can register and access that site later. Button takes you back to Welcome page.</h5>
            </div>
            <a [routerLink]="['/']" class="tutoring3-button tutoring3-button--user-select-none tutoring3-margin-bottom forbidden-button dark-red-background">Back to Welcome</a>
        </div>
    </div>
</div>