<!-- free places -->
<section class="about-us">
    <div class="about-us-content">
        <h1 class="about-us-heading">Freie Pl&auml;tze</h1>
        <div class="underline">
            <div class="small-underline"></div>
            <div class="big-underline"></div>
            <p class="about-us-paragraph">Freie Pl&auml;tze k&ouml;nnen sich jeder Zeit ergeben. Sie k&ouml;nnen sich
                eintragen und werden bei freiem Platz per E-Mail benachrichtigt. Ihre Daten werden maximal sechs Monate
                gespeichert.</p>
            <button class="endorse-btn">
                Eintragen
                <i class="fas fa-angle-double-right btn-arrow"></i>
            </button>
        </div>
    </div>
</section>
<!-- end of free places -->