
<div class="margin--left-8rem">
    <div class="bg-warning p-5" *ngIf="message">{{message}}</div>

    <div *ngIf="dataLoaded">
        <div>
            <h1 class="heading1">Pers&ouml;nliche &Uuml;bersicht</h1>
        </div>
        <div class="row">
            <h3>Guten Tag {{user.givenName}}.</h3>
            <br>Willkommen zur&uuml;ck. Hier ist deine pers&ouml;nliche &Uuml;bersicht.
        </div>

        <div>
            <div></div>
            <div>
                <a [routerLink]="['/settings', user.userId]">Settings</a>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>

</div>
