<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>RM Freelance Tutoring</title>
  <link rel="shortcut icon" type="image/png" href="img/crown.png">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
</head>
<body>

  <!-- navbar -->
  <div class="navbar">

    <input type="checkbox" class="checkbox" id="click" hidden>

    <!-- sidebar -->
    <div class="sidebar">
      <label for="click">
        <div class="menu-icon">
          <div class="line line-1"></div>
          <div class="line line-2"></div>
          <div class="line line-3"></div>
        </div>
      </label>

      <ul class="social-icons-list">
        <li>
          <a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a>
        </li>
        <li>
          <a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
        </li>
        <li>
          <a href="#" class="social-link"><i class="fab fa-google-plus-g"></i></a>
        </li>
        <li>
          <a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
        </li>
      </ul>

      <div class="year">
        <p>2023</p>
      </div>
    </div>
    <!-- end of sidebar -->

    <!-- navigation -->
    <nav class="navigation">
      <div class="navigation-header">
        <h1 class="navigation-heading">
          RMeier Freelance Nachhilfe
        </h1>

        <form class="navigation-search">
          <input type="text" class="navigation-search-input" placeholder="Search...">
          <button class="navigation-search-btn">
            <i class="fas fa-search"></i>
          </button>
        </form>
      </div>

      <ul class="navigation-list">
        <li class="navigation-item">
          <a routerLink="/about-us" class="navigation-link">&Uuml;ber uns</a>
        </li>
        <li class="navigation-item">
          <a routerLink="/register" class="navigation-link">Registrieren</a>
        </li>
        <li class="navigation-item">
          <a routerLink="/login" class="navigation-link">Anmeldung</a>
        </li>
        <li class="navigation-item">
          <a routerLink="/educational-institutions" class="navigation-link">unterst&uuml;tzte Hochschulen<br /> / Berufsschulen /<br /> Universit&auml;ten</a>
        </li>
        <li class="navigation-item">
          <a routerLink="/available-spaces" class="navigation-link">Freie Pl&auml;tze</a>
        </li>
        <li class="navigation-item">
          <a routerLink="/contact" class="navigation-link">Kontakt</a>
        </li>
        <li class="navigation-item">
          <a routerLink="/disclaimer" class="navigation-link">Impressum</a>
        </li>
      </ul>

      <div class="copyright">
        <p>
          &copy; 2025.<br />RMeier Freelance Nachhilfe.<br />All Rights Reserved
        </p>
      </div>
    </nav>
    <!-- end of navigation -->
  </div>
  <!-- end of navbar -->

  <div class="navbar2">
    <nav class="navbar2-grid">
      <ul class="navbar2-list">
        <li class="navbar2-list-item">
          <a *ngIf="!keycloakLoginAndLogout.isLoggedIn()" (click)="keycloakLoginAndLogout.login()" class="navbar2-list-item-link"><label><i class="fas fa-sign-in-alt"></i>Sign Up / Log In</label></a>
          <a *ngIf="keycloakLoginAndLogout.isLoggedIn()" (click)="keycloakLoginAndLogout.logout()" class="navbar2-list-item-link"><label><i class="fas fa-sign-in-alt"></i>Logout</label></a>
        </li>
      </ul>
    </nav>
  </div>
  <router-outlet></router-outlet>
  <!-- footer -->
  <footer class="footer">
    <div class="main-part">
      <div class="footer-list-wrapper">
        <h3 class="footer-heading-h3">Nachhilfe</h3>
        <ul class="footer-list">
          <li class="footer-list-item">
            <a routerLink="/about-us" class="footer-list-link">
              &Uuml;ber uns
            </a>
          </li>
          <li class="footer-list-item">
            <a routerLink="/register" class="footer-list-link">
              Registrieren
            </a>
          </li>
          <li class="footer-list-item">
            <a routerLink="/materials" class="footer-list-link">
              Materialien
            </a>
          </li>
          <li class="footer-list-item">
            <a routerLink="/educational-institutions" class="footer-list-link">
              Bildungseinrichtungen
            </a>
          </li>
          <li class="footer-list-item">
            <a routerLink="/available-spaces" class="footer-list-link">
              freie Pl&auml;tze
            </a>
          </li>
          <li class="footer-list-item">
            <a routerLink="/disclaimer" class="footer-list-link">
              Impressum
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-list-wrapper">
      </div>

      <div class="footer-list-wrapper">
      </div>

      <div class="footer-list-wrapper contact">
        <h3 class="footer-heading-h3">Kontakt</h3>
        <p>Anmelden f&uuml;r den Newsletter</p>
        <form class="footer-form">
          <input type="text" class="footer-input" placeholder="Ihre E-Mail...">
          <button class="footer-btn">Anmelden</button>
        </form>
        <ul class="footer-list">
          <li class="footer-list-item">
            <a href="#" class="footer-list-link">
              E-Mail schreiben
            </a>
          </li>
          <li class="footer-list-item">
            <a href="#" class="footer-list-link">
              Anrufen
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-list-wrapper practices">
        <h3 class="footer-heading-h3">Aufgaben</h3>
        <div class="gallery-images">
          <div class="image-wrapper">
            <img src="img/gallery-img-1.jpeg" class="footer-image">
          </div>
          <div class="image-wrapper">
            <img src="img/gallery-img-2.jpeg" class="footer-image">
          </div>
          <div class="image-wrapper">
            <img src="img/gallery-img-3.jpeg" class="footer-image">
          </div>
          <div class="image-wrapper">
            <img src="img/gallery-img-4.jpeg" class="footer-image">
          </div>
          <div class="image-wrapper">
            <img src="img/gallery-img-5.jpeg" class="footer-image">
          </div>
          <div class="image-wrapper">
            <img src="img/gallery-img-6.jpeg" class="footer-image">
          </div>
        </div>
      </div>
    </div>

    <div class="creator-part">
      <div class="copy-right-text">
        <p>Copyright &copy; 2025. RMeier Freelance Nachhilfe. All rights reserved.</p>
      </div>

      <div class="text-right">
        <p>Hergestellt <i class="fas fa-heart"></i> durch
        <span>Rémy Meier</span></p>
      </div>
    </div>
  </footer>
  <!-- end of footer -->
</body>
</html>