<div class="margin--left-8rem main-content">
    <h1 class="heading1">Edit an Address</h1>
    <br />
    <div *ngIf="message">
        {{message}}
    </div>
    <br />
    <form class="form" #userForm="ngForm">
        <div class="form-group">
            <label for="street">Street: </label>
            <label class="custom-field one">
                <input #streetField="ngModel" type="text" class="form-control" id="street" placeholder=" " [(ngModel)]="addressInEditor.addressStreet" name="street" required (change)="checkIfStreetIsValid()">
                <span class="placeholder">Straße eingeben</span>
            </label>
            <div class="alert alert-danger" *ngIf="streetField.invalid && streetField.touched">Street is required.</div>
            <div class="alert alert-danger" *ngIf="!streetIsValid && streetField.touched">Street cannot be blank.</div>
        </div>
        <br />
        <div class="form-group">
            <label for="houseNo">House number: </label>
            <label class="custom-field one">
                <input #houseNumberField="ngModel" type="text" id="houseNo" placeholder=" " [(ngModel)]="addressInEditor.addressHouseNo" name="houseNo" required (change)="checkIfHouseNumberIsValid()">
                <span class="placeholder">Hausnummer eingeben</span>
            </label>
            <div class="alert alert-danger" *ngIf="houseNumberField.invalid && houseNumberField.touched">House number is required.</div>
            <div class="alert alert-danger" *ngIf="!houseNumberIsValid && houseNumberField.touched">House number cannot be blank.</div>
        </div>
        <br />
        <div class="form-group">
            <label for="zipCode">Zip Code: </label>
            <label class="custom-field one">
                <input #zipCodeField="ngModel" type="text" id="zipCode" placeholder=" " [(ngModel)]="addressInEditor.addressZipCode" name="zipCode" required (change)="checkIfHouseNumberIsValid()">
                <span class="placeholder">Postleitzahl eingeben</span>
            </label>
            <div class="alert alert-danger" *ngIf="zipCodeField.invalid && zipCodeField.touched">Zip Code is required.</div>
            <div class="alert alert-danger" *ngIf="!houseNumberIsValid && zipCodeField.touched">Zip Code cannot be blank.</div>
        </div>
        <br />
        <div class="form-group">
            <label for="place">Place: </label>
            <label class="custom-field one">
                <input #placeField="ngModel" type="text" id="place" placeholder=" " [(ngModel)]="addressInEditor.place" name="place" required (change)="checkIfPlaceIsValid()">
                <span class="placeholder">Ortschaft eingeben</span>
            </label>
            <div class="alert alert-danger" *ngIf="placeField.invalid && placeField.touched">Place is required.</div>
            <div class="alert alert-danger" *ngIf="!placeIsValid && placeField.touched">Place cannot be blank.</div>
        </div>
        <br/>
        <button type="button" class="tutoring3-button tutoring3-button--user-select-none tutoring3-button--border-radius-25 tutoring3-button--button" (click)="onSubmit()">Save</button>
    </form>
</div>

