<!-- register -->
<section class="about-us">
    <div class="about-us-content">
        <h1 class="about-us-heading">Registrieren</h1>
        <div class="underline">
            <div class="small-underline"></div>
            <div class="big-underline"></div>
            <p class="about-us-paragraph">Eine Registration bringt mit sich Zugang zu Kursmaterialien, kaufbaren
                Materialien und Terminvereinbarung. Wenn Sie sich 6 Monate nicht mehr anmelden, wird das Konto inklusive
                s&auml;mtlicher Daten gel&ouml;scht. </p>
            <button class="about-us-btn">
                Registrieren
                <i class="fas fa-angle-double-right btn-arrow"></i>
            </button>
        </div>
    </div>
</section>
<!-- end of register -->