<!-- disclaimer  -->
<section class="about-us">
    <div class="about-us-content">
        <h1 class="about-us-heading">Impressum</h1>
        <div class="underline">
            <div class="small-underline"></div>
            <div class="big-underline"></div>
        </div>
        <div class="disclaimer-context">
            <h2>Angaben gemäß § 5 TMG</h2>
            <p>Remy Meier<br />
                Rmeier Freelance Nachhilfe<br />
                Volksdorfer Grenzweg 40<br />
                A<br />
                22359 Hamburg
            </p>
            <h2>Kontakt</h2>
            <p>Telefon: 017661362253<br />
                E-Mail: rmeier.freelance-inf&#64;magenta.de
            </p>
            <h2>Redaktionell verantwortlich</h2>
            <p>Remy Meier</p>
            <h2>EU-Streitschlichtung</h2>
            <p>Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit:<br />
                <a href="https://ec.europa.eu/consumers/odr/">https://ec.europa.eu/consumers/odr/</a>.<br />
                Unsere E-Mail-Adresse finden Sie oben im Impressum.
            </p>
            <h2>Verbraucherstreitbeilegung /<br />Universalschlichtungsstelle</h2>
            <p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer
                Verbraucherschlichtungsstelle teilzunehmen.
            </p>
            <p>Quelle:<br />
                e-recht24.de
            </p>
        </div>
    </div>
</section>
<!-- end of disclaimer -->